<h2 align="center"> 
  How are satellites distributed above the sky?
</h2>

<div class="container" align="center" >
  <div class="btn-group">
    <button type="button" class="btn btn-primary" id="reset">Reset</button>
    <button type="button" class="btn btn-primary dropdown-toggle" id="chooseorbit" data-toggle="dropdown" data-toggle2="tooptip" title="Choose orbit that you want to look closely">
        Choose Orbit
    </button>
    <div class="dropdown-menu">
        <button class="btn dropdown-item" id="show_low">Low Earth Orbit</button>
        <button class="btn dropdown-item" id="show_medium">Medium Earth Orbit</button>
        <button class="btn dropdown-item" id="show_g">Geosynchronous Orbit</button>
      </div>
  </div>  
  <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" id="colorby" data-toggle="dropdown" data-toggle2="tooptip" title="Color satellites by different categories">
          Color By
      </button>  
      <div class="dropdown-menu">
          <button class="btn dropdown-item" id="second_by_country">By Owner</button>
          <button class="btn dropdown-item" id="second_by_purpose">By Purpose</button>
          <button class="btn dropdown-item" id="second_by_user">By User</button>
        </div>
      <button type="button" class="btn btn-info disabled" id="donut" data-toggle2="tooptip" title="See satellite number proportion of countries. Only works when color by country">Donut Chart</button>

  </div>
</div>    
<div id="tooltip" class="hidden">
    <p><strong><span id="cate_key">Country: </span><span id="cate_value">USA</span></strong></p>
    <p>Number: <span id="value_value">0</span></p>
    <p>Ratio: <span id="ratio_value">0</span></p>
</div> 
<!-- <div class="card bg-info text-white" id="explanatory">test</div> -->
<div id="orbits" (window:resize)="onResize()"></div>
<script>
$(document).ready(function(){
    $('[data-toggle2="tooltip"]').tooltip(); 
    });
</script>