<h2 align="center"> 
  What's it like above the sky?
</h2>

<div class="container" align="center" >
  <div class="btn-group">
    <button type="button" class="btn btn-primary" id="reset">Reset</button>
    <!-- <button type="button" class="btn btn-primary" id="show_low">Show Low Earth Orbit</button>
    <button type="button" class="btn btn-primary" id="show_medium">Show Medium Earth Orbit</button>
    <button type="button" class="btn btn-primary" id="show_g">Show Geosynchronous</button> -->
    <button type="button" class="btn btn-primary dropdown-toggle" id="chooseorbit" data-toggle="dropdown" data-toggle2="tooptip" title="Choose Orbit You Want to Look Closely">
        Choose Orbit
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" id="show_low">Low Earth Orbit</a>
        <a class="dropdown-item" id="show_medium">Medium Earth Orbit</a>
        <a class="dropdown-item" id="show_g">Geosynchronous Orbit</a>
      </div>
    <!-- <button type="button" class="btn btn-primary" id="second_by_country">Color By Owner Country</button>
    <button type="button" class="btn btn-primary" id="second_by_purpose">Color By Purpose</button>
    <button type="button" class="btn btn-primary" id="second_by_user">Color By User</button> -->
  </div>  
  <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" id="colorby" data-toggle="dropdown" data-toggle2="tooptip" title="Color satellites by different categories">
          Color By
      </button>  
      <div class="dropdown-menu">
          <a class="dropdown-item" id="second_by_country">By Owner</a>
          <a class="dropdown-item" id="second_by_purpose">By Purpose</a>
          <a class="dropdown-item" id="second_by_user">By User</a>
        </div>
      <button type="button" class="btn btn-info disabled" id="donut" data-toggle2="tooptip" title="See satellite number proportion of countries. Only works when color by country">Donut Chart</button>

  </div>
</div>    
<div id="tooltip" class="hidden">
    <p><strong>Country: <span id="t_country">USA</span></strong></p>
    <p>Operator: <span id="t_operator">USC</span></p>
    <p>User: <span id="t_user">Civil</span>; Purpose: <span id="t_purpose">Communications</span></p>
    <p>Class: <span id="t_class">LEO</span>; Perigee: <span id="t_perigee">1000</span> km, Apogee: <span id="t_apogee">1000</span> km</p>
    <p>Data of Launch: <span id="t_date">1/1/2018</span></p>
    <p>Launch Site: <span id="t_site">Vandenberg AFB</span>, Launch Vehicle: <span id="t_vehicle">Atlas 5</span></p>
</div> 
<!-- <div class="card bg-info text-white" id="explanatory">test</div> -->
<div id="orbits" (window:resize)="onResize()"></div>
<script>
$(document).ready(function(){
    $('[data-toggle2="tooltip"]').tooltip(); 
    });
</script>