<p>
  Where are they launched?
</p>
<div id="worldmap" (window:resize)="onResize()">
  <div class="tooltip_first"></div>
  <div class="container">
    <div class="btn-group" style="margin: 0 auto">
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="by_country">
        <label class="form-check-label" for="exampleCheck1">By country</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="by_launch_site">
        <label class="form-check-label" for="exampleCheck1">By launch site</label>
      </div>
    </div>
  </div>
</div>