


<br>
<br>
<br>
<br>

<div id="charts"></div>


<div id="mainTooltip" class="hidden">
	<span id="value"></span>
</div>
<div>  
        <button type="button" class="btn btn-warning" id="allOrbit">All Satellite</button>
        <button type="button" class="btn btn-secondary" id="lowOrbit">Low Orbit Satellite</button>
        <button type="button" class="btn btn-success" id="midOrbit">Medium Orbit Satellite </button>
        <button type="button" class="btn btn-danger" id="geoOrbit">Geo Orbit Satellite</button>
        
</div>
<div class = "card bg-dark text-white">
        <div class="card-body ">
            <p>Satellite Number : 1886</p>
            <!--<p>The detail will be displayed when you touch each piece.</p>-->
        </div>
</div>
<div id="pie_chart">
    <svg id ="chart-svg1"></svg> 
</div>

<div #chart2 id="line_chart" (window:resize)="onResize()"></div>

<div id ="line_Tooltip" class ="hidden">
        <p><span id ="value"></span></p>
</div>


<p></p>
<div #chart3 id="line_chart_1" (window:resize)="onResize()">

</div>
<br>
<br>
<br>
<!-- <h2>Bar Chart</h2>

    <div id="p2">
        <div>
            <button type="button" class="btn btn-primary" id="top5">Top 10</button>
            <button type="button" class="btn btn-primary" id="third_reset">All dataSet</button>
        </div>
    </div>

!-->
<div id="dashboard" (window:resize)="onResize()">
        
    
        
</div>