

<p>
    Some fun charts
</p>
<div id="charts"></div>

<div class = "card bg-primary text-white">
    <div class="card-body">
        <p>The pie chart showing  how many satellites these 5 countries percent own.</p>
        <p>Pieces show the country and its percent of satellites and detail will show when you point on.</p>
    </div>
</div>
<div id="mainTooltip" class="hidden">
	<p><span id="value"></span></p>
</div>
<div id="pie_chart"width = "1000" height="1000">
    <svg id ="chart-svg1" width="1000" height="1000"></svg> 
</div>
<div>
    <button type="button" class="btn btn-primary" id="1111">Trend of whole world</button>
    <button type="button" class="btn btn-primary" id="22222">Trend of each country</button>
</div>
<div #chart2 id="line_chart" (window:resize)="onResize()"></div>

<div #chart3 id="line_chart_1" (window:resize)="onResize()"></div>

<h2>Bar Chart</h2>

    <div id="p2">
        <div>
            <button type="button" class="btn btn-primary" id="top5">Top 10</button>
            <button type="button" class="btn btn-primary" id="third_reset">All dataSet</button>
        </div>
    </div>